.bcolor{
    /* selected by class  used by all the elements of class*/

    border:red;
    padding: 10%;
    background-color: rgb(173, 126, 172);
}
h2{
    /* selected by tag  used by all the tags*/
    background-color: darkgrey;
    color: black;
}
#appId{
    /* selected by ID  used by specific id's*/
    background-color: rgb(94, 133, 133);
    color: gold;
}
nav {
    background-color: rgb(12, 2, 0);
    height: 50px;
    color: white;
}
.nav-item {
    color: rgb(216, 202, 202);
    font-size: large;
}

#hmIc {
    padding-top: 1%;
    width: 30px;
    height: 30px;
}
.box{
    background-color: rgb(180, 166, 149);
    width: 200px;
    border: 15px rgb(227, 17, 17);
    padding: 20px;
    margin: 20px ;
}